@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-between {
  display: flex;
  justify-content: between;
  align-items: center;
}
@mixin flex-around {
  display: flex;
  justify-content: around;
  align-items: center;
}
@mixin flex-evenly {
  display: flex;
  justify-content: evenly;
  align-items: center;
}
@mixin flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}
@mixin flex-end {
  display: flex;
  justify-content: end;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
@mixin flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}
@mixin flex-wrap-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}
@mixin flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
@mixin flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
@mixin flex-wrap-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}
@mixin txt-center{
  text-align: center;
}

@mixin navbar-mobile {
  @include for-mobile {
    .navbar {
      font-size: 1.5rem; // Reducir el tamaño de la fuente en móviles
    }
    .nav {
      flex-direction: column; // Cambiar a disposición vertical en móviles
      align-items: center;
    }
    .bar {
      flex-direction: column; // Cambiar a disposición vertical en móviles
      align-items: center;
      & > * {
        padding-left: 0; // Eliminar padding en móviles
        margin-bottom: 1rem; // Añadir margen inferior en móviles
      }
    }
  }
}

@mixin contacto-mobile {
  @include for-mobile {
    .contacto {
      padding: 1rem; // Reducir padding en móviles
    }
    .contacto .card {
      width: 100%; // Ancho completo en móviles
      padding: 1rem; // Reducir padding en móviles
    }
  }
}

@mixin navbar-tablet {
  @include for-tablet {
    .navbar {
      font-size: 1.75rem; // Ajustar el tamaño de la fuente en tablets
    }
    .nav {
      flex-direction: column; // Cambiar a disposición vertical en tablets
      align-items: center;
    }
    .bar {
      flex-direction: column; // Cambiar a disposición vertical en tablets
      align-items: center;
      & > * {
        padding-left: 0; // Eliminar padding en tablets
        margin-bottom: 1rem; // Añadir margen inferior en tablets
      }
    }
  }
}

@mixin contacto-tablet {
  @include for-tablet {
    .contacto {
      padding: 1.5rem; // Ajustar padding en tablets
    }
    .contacto .card {
      width: 100%; // Ancho completo en tablets
      padding: 1.5rem; // Ajustar padding en tablets
    }
  }
}